<!DOCTYPE html>
<html>
  <head>
    <title>TrailBlazer</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>trailBlazer</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Atomic+Age" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body ng-app="trailBlazer">
    <h1>TRAILBLAZER</h1>
    <div ng-controller="SpicyController"> 
    <div class="minusBtn noselect" ng-click="decrement()">-</div>
    <div class="text noselect">I want to run {{qty}} km today.</div>
    <div class="plusBtn noselect" ng-click="increment()">+</div>
    <br><br>
    <div id="map" style="width:100%;height:400px;"></div>
    <script>

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var roadsKey ='AIzaSyAx7Ub03BBRbbfjQGrbbgrsgML0bmVyQg4';
      var labelIndex = 0;
      var map, flightPath = new google.maps.Polyline();
      var pathOnMap;

      function initMap() {

        // Create a new StyledMapType object, passing it an array of styles,
        // and the name to be displayed on the map type control.
        var styledMapType = new google.maps.StyledMapType(
            [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#f5f5f5"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#bdbdbd"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#ffffff"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#757575"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#dadada"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#616161"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              },
              {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#e5e5e5"
                  }
                ]
              },
              {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#eeeeee"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#c9c9c9"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9e9e9e"
                  }
                ]
              }
            ],
            {name: 'Styled Map'});

        // Create a map object, and include the MapTypeId to add
        // to the map type control.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 43.472285, lng: -80.544858},
          zoom: 14,
          mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                    'styled_map']
          }
        });

        google.maps.event.addListener(map, 'click', function(event){
          if(true){
            //addMarker(event.latLng, map);
            pathOnMap=1;
            drawLine(event.latLng);
          }
        });

        //Associate the styled map with the MapTypeId and set it to display.
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');

        google.maps.event.addListener(map, 'click', function(event) {
          //addMarker(event.latLng, map);
          var lat = homeMarker.getPosition().lat();
          var lng = homeMarker.getPosition().lng();
        });
      }

      function getLatEnd(loc){
        /*
        Latitude: 1 deg = 110.574 km
        Longitude: 1 deg = 111.320*cos(latitude) km
        */
        //{{qty}}
        var aaa = angular.element(document.querySelector('[ng-controller="SpicyController"]')).scope().qty
        var aa = aaa/4;
        var myLatLng = loc;
        var lat = myLatLng.lat();
        var newLat = lat+(aa/110.574);
        return newLat;
      }

      function getLngEnd(loc){
        /*
        Latitude: 1 deg = 110.574 km
        Longitude: 1 deg = 111.320*cos(latitude) km
        */
        var aaa = angular.element(document.querySelector('[ng-controller="SpicyController"]')).scope().qty
        var aa = aaa/4;
        var myLatLng = loc;
        var lng = myLatLng.lng();
        var lat = myLatLng.lat();
        var newLng = lng+(aa/(110.574*Math.cos(lat)));
        return newLng;
      }



      function addMarker(location, map) {
        // Add the marker at the clicked location, and add the next-available label
        // from the array of alphabetical characters.
        var marker = new google.maps.Marker({
          position: location,
          label: labels[labelIndex++ % labels.length],
          map: map
        });
      }

      function wait(ms)
      {
      var d = new Date();
      var d2 = null;
      do { d2 = new Date(); }
      while(d2-d < ms);
      }

      function drawLine(loc) {
        var flightPlanCoordinates = [
            loc,
            new google.maps.LatLng(loc.lat(), getLngEnd(loc)),
            //new google.maps.LatLng(getLatEnd(loc), getLngEnd(loc)),
            new google.maps.LatLng(getLatEnd(loc), loc.lng()),
            loc
        ];

        


        var service1 = new google.maps.DirectionsService(),flightPath,snap_path1=[];
        flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#E76663',
            strokeOpacity: 1.0,
            strokeWeight: 2.5,
            icons: [{
                icon: {path: google.maps.SymbolPath.FORWARD_OPEN_ARROW},
                offset: '0',
                repeat: '150px',
                size: '1px'
            },
            {
                icon2: {path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW},
                offset: '0',
            }]
        });
        
        
        for(j=0;j<flightPlanCoordinates.length-1;j++){
          service1.route({origin: flightPlanCoordinates[j],destination: flightPlanCoordinates[j+1],travelMode: google.maps.DirectionsTravelMode.WALKING},function(result, status) {
              if(status == google.maps.DirectionsStatus.OK) {
                  snap_path1 = snap_path1.concat(result.routes[0].overview_path);
                  flightPath.setPath(snap_path1);
              } else alert("Directions request failed: "+status);        
          });
         }
         flightPath.setMap(map); 
      }

      google.maps.event.addDomListener(window, 'load', initialize);
      
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx7Ub03BBRbbfjQGrbbgrsgML0bmVyQg4&callback=initMap"></script>
    <div class="text noselect">Choose a distance to run, click a spot on the map, and check out your auto-generated running route!</div>          
  </div> 

  </body>
</html>